* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    315deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(241, 112, 64, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

a {
  color: darkslategrey;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 28rem;
  margin: 10rem auto;
}

.btn {
  display: inline-block;
  border: none;
  background: #a52a2a;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}
