* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

a {
  color: darkslategrey;
  text-decoration: none;
  cursor: pointer;
}

.container {
  /* padding: rem 1em; */
  max-width: 30rem;
  margin: 13rem auto;
  max-height: 100vh;
  /* background-color: red; */
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}
